.footer {
    padding-bottom: 20px;
}

.footer__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--basic-grey);
}

.footer h4 {
    margin: 0;
    margin-bottom: 30px;
    color: var(--basic-white);
    font-weight: normal;
    font-size: 18px;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer ul li:not(:last-child) {
    margin-bottom: 5px;
}

.footer ul a {
    color: var(--basic-grey-light);
    font-weight: normal;
}

.footer ul a:hover,
.footer ul a:active {
    color: var(--basic-white);
}

.footer__copyright {
    padding-left: 20px;
    margin-top: 20px;
    font-size: 12px;
}

@media (min-width: 768px) {
    .footer__copyright {
        padding: 0;
    }
}