:root {
  --basic-grey-light: #77767b;
  --basic-grey: #454545;
  --basic-white: #ffffff;
  --basic-black: #000000;

  --accent-red: #ED1C24;

  --background--grey: #f6f6f6;
  /*--background--grey: #dddddd;*/

  --transparent: transparent;

  --desktop-width: 1160px;
  --mobile-width: 320px;
  --tablet-width: 768px;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--basic-grey-light);
}

*:focus {
  outline: 1px none var(--accent-red);
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
