.ContactFormBig {
    padding: 40px 20px;
    background-color: var(--basic-white);
    border-radius: 5px;
    /*box-shadow: 0 35px 48px 0 rgba(0,0,0,.07);*/
    text-align: left;
}

@media (min-width: 768px) {
    .ContactFormBig {
        padding: 40px 50px;
    }
}

.ContactFormBig h4 {
    margin: 0;
    margin-bottom: 20px;
    color: var(--basic-grey);
    line-height: 2.5;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: -.56px;
    border-bottom: 2px solid var(--background--grey);
}

.ContactFormBig > span {
    color: var(--basic-grey);
    font-size: 16px;
}

/*.ContactFormBig form {*/
/*    margin-top: 20px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.ContactFormBig input {*/
/*    margin-bottom: 15px;*/
/*    padding-left: 55px;*/
/*    padding-right: 20px;*/
/*    min-height: 50px;*/
/*    color: var(--basic-grey);*/
/*    box-shadow: 0 35px 50px 0 rgba(0,0,0,.07);*/
/*    border: 1px solid var(--background--grey);*/
/*    border-radius: 5px;*/
/*    font-size: 14px;*/
/*    font-weight: 600;*/
/*}*/

/*.ContactFormBig input:focus {*/
/*    box-shadow: none;*/
/*    border-color: inherit;*/
/*}*/

/*.ContactFormBig button {*/
/*    margin-bottom: 30px;*/
/*    background-color: var(--accent-red);*/
/*    color: var(--basic-white);*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    padding: 15px 20px;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/

.ContactFormBig button:hover {
    background-color: var(--basic-grey);
}

/*.ContactFormBig button:active {*/
/*    background-color: var(--basic-grey);*/
/*}*/

.ContactFormBig ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    list-style: none;
    display: flex;
}

.ContactFormBig li {
    color: gold;
}

.ContactFormBig li:not(:last-child) {
    margin-right: 5px;
}

.ContactFormBig__clients {
    color: var(--basic-grey-light);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.5px;
}

.ContactFormBig select {
    margin-bottom: 15px;
    padding-left: 55px;
    padding-right: 20px;
    min-height: 50px;
    color: var(--basic-grey);
    box-shadow: 0 35px 50px 0 rgba(0,0,0,.07);
    border: 1px solid var(--background--grey);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.ContactFormBig select:focus {
    box-shadow: none;
    border-color: inherit;
}