.desc {
    padding-bottom: 50px;
}

h2 {
    text-align: center;
    color: var(--basic-black);
    font-size: 22px;
}

@media (min-width: 768px) {
    h2 {
        font-size: 35px;
    }
}

.desc__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
}

@media (min-width: 768px) {
    .desc__wrapper {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1160px) {
    .desc__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

.desc p {
    margin: 0;
    font-size: 18px;
    color: var(--basic-grey);
    text-align: center;
}

@media (min-width: 1160px) {
    .desc p {
        text-align: left;
    }
}

.desc h3 {
    margin: 20px 0 10px;
    font-size: 22px;
    color: var(--basic-grey);
    text-align: center;
}

@media (min-width: 1160px) {
    .desc h3 {
        text-align: left;
    }
}

.desc img {
    margin: 0 auto;
    border-radius: 5px;
    width: 320px;
    height: auto;
}

@media (min-width: 768px) {
    .desc img {
        width: 550px;
        height: 412px;
    }
}

@media (min-width: 1160px) {
    .desc img {
        margin: 0;
        width: 550px;
        height: 412px;
    }
}