.LineForm {
    margin: 30px auto 0;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--basic-grey);
    text-align: center;
}

@media (min-width: 768px) {
    .LineForm {
        width: 768px;
        flex-direction: row;
        text-align: left;
    }
}

@media (min-width: 1160px) {
    .LineForm {
        width: 1160px;
    }
}

.LineForm h5 {
    margin: 0;
    color: var(--basic-white);
    font-size: 18px;
    font-weight: bold;
}

.LineForm h5 span {
    font-weight: normal;
    opacity: 0.5;
}

.LineForm a {
    margin-top: 10px;
    margin-right: 10px;
    padding: 12px 30px;
    box-sizing: border-box;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--accent-red);
    border-radius: 5px;
    color: var(--basic-white);
    font-size: 14px;
}

.LineForm a:hover,
.LineForm a:active {
    background-color: var(--basic-grey-light);
}

@media (min-width: 768px) {
    .LineForm a {
        margin-top: 0;
    }
}